.step-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.active-step {
  background-color: lightblue;
  height: 35px;
  width: 35px;
  border: 30px;
  border-radius: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.inactive-step {
  background-color: transparent;
  height: 35px;
  width: 35px;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.step-details {
  margin-left: 20px;
}
.step {
  font-size: 12px;
  color: #939696;
}
.info {
  font-size: 14px;
  margin: 3px 0;
  color: #ffff;
}
